@font-face {
  src: url("fonts/montserratMedium.ttf");
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url("fonts/robotoReg.ttf");
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("fonts/robotoRegIt.ttf");
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url("fonts/robotoLight.ttf");
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url("fonts/robotoLightIt.ttf");
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
}
div {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
input:focus {
  outline: 0;
}
body {
  color: #1b1b1b;
  background-image: url("images/bg1.png"), url("images/bg2.png");
  background-position: right top, left top;
  background-size: 27%;
  background-repeat: repeat-y;
  cursor: default;
}
a.HrefCommon {
  text-decoration: none;
  color: #d1a105;
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.WhiteSpace {
  width: 100%;
}
.Title {
  position: relative;
  bottom: 0;
  margin-bottom: 32px;
  width: 100%;
  height: 40px;
  font-size: 26px;
  text-align: center;
  opacity: 1;
  transition-property: opacity, bottom;
  transition-duration: 3.5s;
  transition-delay: 1.2s;
  transition-timing-function: cubic-bezier(0.24, 0, 0.27, 1);
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
}
.TitleAnimate {
  bottom: 50px;
  opacity: 0;
  transition-property: opacity, bottom;
  transition-duration: 3.5s;
  transition-delay: 1.2s;
  transition-timing-function: cubic-bezier(0.24, 0, 0.27, 1);
}
.CardsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
}
.SearchBarCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  height: 42px;
}
.SearchBarInput {
  border: 2px solid #facb33;
  height: 52px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
}
.SearchBarInput::placeholder {
  color: #b4b4b4;
}
.ButtonDefault {
  border-radius: 0px !important;
  width: 90px;
  height: 52px;
  box-shadow: 0px 0px 0px 0px #000 !important;
  font-weight: 600 !important;
  color: #1b1b1b !important;
  background-color: #facb33 !important;
}
.ButtonDefaultShavedLeft {
  border-radius: 0px !important;
  width: 90px;
  height: 52px;
  box-shadow: 0px 0px 0px 0px #000 !important;
  font-weight: 600 !important;
  color: #1b1b1b !important;
  background-color: #facb33 !important;
  border-top-left-radius: 14px !important;
  border-bottom-left-radius: 14px !important;
}
.ButtonDefaultShavedRight {
  border-radius: 0px !important;
  width: 90px;
  height: 52px;
  box-shadow: 0px 0px 0px 0px #000 !important;
  font-weight: 600 !important;
  color: #1b1b1b !important;
  background-color: #facb33 !important;
  border-top-right-radius: 14px !important;
  border-bottom-right-radius: 14px !important;
}
.SearchBarButton:hover {
  box-shadow: 0px 0px 0px 0px #000 !important;
}
.CardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 48px;
  border-radius: 40px;
  width: 548px;
  box-shadow: 4px 4px 1.5px #8c721d;
  background-color: #facb33;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(0.69, 0, 0.56, 0.99);
}
.CardAnimateMount {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(0.69, 0, 0.56, 0.99);
}
.CardTitle {
  position: relative;
  margin-top: 20px;
  margin-bottom: 4px;
  width: 100%;
  font-size: 28px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
}
.CardPropsCont {
  width: 64%;
}
.CardRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
  font-size: 20px;
  color: #1b1b1b;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
}
.CardSplitLine {
  margin-top: 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 350px;
  height: 3px;
  background-color: #ccaa3e;
}
.CardPropLeft {
  font-weight: 600;
}
.CardRow:last-of-type {
  margin-bottom: 32px;
}
.CardButtonClose {
  position: absolute;
  left: 400px;
  top: 10px;
  width: 18px;
}
.CardLabel {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  margin-bottom: 8px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.FooterCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 28px;
  margin-bottom: 32px;
  width: 540px;
  height: 76px;
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
}
.ButtonUp {
  position: fixed;
  right: 494px;
  bottom: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  background-color: #facb33;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.69, 0, 0.56, 0.99);
}
.ButtonUpHidden {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.69, 0, 0.56, 0.99);
}
#ButtonUpArrow {
  width: 22px;
}
